name: flutter_themeator
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.5.3
  flex_color_picker: ^3.8.0
  provider: ^6.1.5+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  fonts:
  - family: Inter
    fonts:
    - asset: assets/fonts/Inter-Light.ttf
      weight: 300
    - asset: assets/fonts/Inter-Regular.ttf
      weight: 400
    - asset: assets/fonts/Inter-Medium.ttf
      weight: 500
    - asset: assets/fonts/Inter-SemiBold.ttf
      weight: 600
    - asset: assets/fonts/Inter-Bold.ttf
      weight: 700
